.card{
    width: 100%;
    border-radius: 25px;
}

.row{
    margin-top: -40px;
}

.card-content{
    background-color: rgb(19, 19, 19);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}

.icon-container{
    font-size: 50px;
    color: white;
    margin: auto;
    width: 50px;
}

.icon-container hr{
    background-color: #0abde3;
    height: 2px;
    border: none;
    margin-top: -10px;
}

.card-content p{
    height: 250px;
    padding: 20px;
    color: white;
}

.anchor-p{
    text-underline-offset: 2px; 
    color: white;
    text-decoration-color: white;
}